# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
#*.so

# vim swap
*.swp
**/.vs/
**/build/
# GuessNumber
**/GuessNumber/bin/
GuessNumber/lib/*.ilk
GuessNumber/lib/*.pdb

**/Blackjack/bin/
**/Monopoly/bin/
